<header class="header-eleva">
    <div class="navbar-container">
        <a href="#" class="header-logo">ELEVA</a>

        <nav>
            <ul class="nav-links">
                <li>
                    <button (click)="navigateHome()" class="btn-nav">Feed</button>
                </li>
                <li>
                    <button (click)="navigateTasks()" class="btn-nav">Tarefas</button>
                </li>
                <li>
                    <button (click)="navigateProfile()" class="btn-nav">Perfil</button>
                </li>
                <li>
                    <button (click)="logout()" class="btn-nav">Sair</button>
                </li>
            </ul>
        </nav>
    </div>
</header>